services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.1 # 스프링 부트 버전에 맞는 ES 버전 확인 필수
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    command: >
      /bin/sh -c "./bin/elasticsearch-plugin install analysis-nori && ./bin/elasticsearch"