<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.TEAM202507_01.menus.community.repository.CommunityMapper">

    <select id="findAll" resultType="com.example.TEAM202507_01.menus.community.dto.CommunityDto">
        SELECT
            P.ID, P.TITLE, P.CONTENT, P.CREATED_AT, P.UPDATED_AT,
            P.VIEW_COUNT, P.USER_ID, P.CATEGORY,
            U.NICKNAME AS userNickname
        FROM POSTS P
                 LEFT JOIN USERS U ON P.USER_ID = U.LOGIN_ID
        ORDER BY P.ID DESC
    </select>

    <select id="findByCategory" resultType="com.example.TEAM202507_01.menus.community.dto.CommunityDto">
        SELECT
            P.ID, P.TITLE, P.CONTENT, P.CREATED_AT, P.UPDATED_AT,
            P.VIEW_COUNT, P.USER_ID, P.CATEGORY,
            U.NICKNAME AS userNickname
        FROM POSTS P
                 LEFT JOIN USERS U ON P.USER_ID = U.LOGIN_ID
        WHERE P.CATEGORY = #{category}
        ORDER BY P.ID DESC
    </select>

    <select id="findById" resultType="com.example.TEAM202507_01.menus.community.dto.CommunityDto">
        SELECT
            P.ID, P.TITLE, P.CONTENT, P.CREATED_AT, P.UPDATED_AT,
            P.VIEW_COUNT, P.USER_ID, P.CATEGORY,
            U.NICKNAME AS userNickname
        FROM POSTS P
                 LEFT JOIN USERS U ON P.USER_ID = U.LOGIN_ID
        WHERE P.ID = #{id}
    </select>

    <insert id="save" parameterType="com.example.TEAM202507_01.menus.community.dto.CommunityDto">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NVL(MAX(ID), 0) + 1 FROM POSTS
        </selectKey>
        INSERT INTO POSTS (
        ID, TITLE, CONTENT, USER_ID, VIEW_COUNT, CREATED_AT, CATEGORY
        ) VALUES (
        #{id}, #{title}, #{content}, #{userId}, 0, SYSDATE, #{category}
        )
    </insert>

    <update id="update" parameterType="com.example.TEAM202507_01.menus.community.dto.CommunityDto">
        UPDATE POSTS
        SET TITLE = #{title},
            CONTENT = #{content},
            UPDATED_AT = SYSDATE
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM POSTS WHERE ID = #{id}
    </delete>

    <update id="increaseViewCount">
        UPDATE POSTS SET VIEW_COUNT = VIEW_COUNT + 1 WHERE ID = #{id}
    </update>



</mapper>