<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.TEAM202507_01.menus.job.repository.JobMapper">

    <select id="findAll" resultType="JobDto">
        SELECT
            ID,
            INDUSTRY_ID,
            TITLE,
            COMPANY_NAME,
            CAREER_LEVEL,
            DEADLINE,
            IS_ACTIVE,
            CREATED_AT
        FROM JOB_POSTS
        ORDER BY ID DESC
    </select>

    <select id="findById" parameterType="Long" resultType="JobDto">
        SELECT * FROM JOB_POSTS
        WHERE ID = #{id}
    </select>

    <insert id="save" parameterType="JobDto" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO JOB_POSTS (
            INDUSTRY_ID,
            TITLE,
            COMPANY_NAME,
            COMPANY_ADDRESS,
            COMPANY_PHONE,
            DESCRIPTION,
            CAREER_LEVEL,
            EDUCATION,
            DEADLINE,
            IS_ACTIVE,
            CREATED_AT
        ) VALUES (
                     #{industryId},
                     #{title},
                     #{companyName},
                     #{companyAddress},
                     #{companyPhone},
                     #{description},
                     #{careerLevel},
                     #{education},
                     #{deadline},
                     1, SYSDATE
                 )
    </insert>

    <update id="update" parameterType="JobDto">
        UPDATE JOB_POSTS
        SET
            TITLE = #{title},
            COMPANY_NAME = #{companyName},
            COMPANY_ADDRESS = #{companyAddress},
            COMPANY_PHONE = #{companyPhone},
            DESCRIPTION = #{description},
            CAREER_LEVEL = #{careerLevel},
            EDUCATION = #{education},
            DEADLINE = #{deadline},
            IS_ACTIVE = #{isActive}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM JOB_POSTS
        WHERE ID = #{id}
    </delete>

</mapper>