<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.TEAM202507_01.menus.tour.repository.TourMapper">

    <select id="findAll" resultType="TourDto">
        SELECT
            ID,
            NAME,
            ADDRESS,
            PHONE,
            DESCRIPTION,
            IMAGE_URL,
            PRICE,
            OPEN_TIME,
            CREATED_AT
        FROM TOURIST_SPOTS ORDER BY ID DESC
    </select>

    <select id="findById" parameterType="Long" resultType="TourDto">
        SELECT * FROM TOURIST_SPOTS
        WHERE ID = #{id}
    </select>

    <insert id="save" parameterType="TourDto" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO TOURIST_SPOTS (
            NAME,
            ADDRESS,
            PHONE,
            DESCRIPTION,
            IMAGE_URL,
            PRICE,
            OPEN_TIME,
            CREATED_AT
        ) VALUES (
                     #{name},
                     #{address},
                     #{phone},
                     #{description},
                     #{imageUrl},
                     #{price},
                     #{openTime},
                     SYSDATE
                 )
    </insert>

    <update id="update" parameterType="TourDto">
        UPDATE TOURIST_SPOTS
        SET
            NAME = #{name},
            ADDRESS = #{address},
            PHONE = #{phone},
            DESCRIPTION = #{description},
            IMAGE_URL = #{imageUrl},
            PRICE = #{price},
            OPEN_TIME = #{openTime}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TOURIST_SPOTS
        WHERE ID = #{id}
    </delete>

</mapper>